<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Volver arriba</a>
    </p>
    <p class="mb-1">
      En Armonía Musical, ofrecemos una amplia selección de instrumentos de alta calidad
    </p>
  </div>
</footer>